
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}

html {
    height: 100%;
}

.application-container {
    font-family: Hanken Grotesk;
    display: flex;
    background-color: white;
    border-radius: 30px;
    box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.2);
    width: 46rem;
    height: 32rem;
}


.result-container {
    color: white;
    flex: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result-text {
    font-size: 22px;
    opacity: 0.7;
    margin: 2rem 0;
}

.result-score {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    width: 12rem;
    height: 12rem;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

}

.score {
    font-weight: 700;
    font-size: 74px;
    margin: 0;
}

.max-score {
    margin: 0;
    opacity: 0.6;
}

.great-text {
    display: flex;
    font-size: 38px;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    margin: 2rem 0;
}

.description {
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    margin: 1rem 3rem;
    opacity: 0.7;
}

.summary-container {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.summary-text {
    margin: 2rem 40px;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
}

.attributes-container {
    gap: 1rem;
    display: grid;
    padding: 0 2.5rem;
}

.reaction-container, .memory-container, .verbal-container, .visual-container {
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    height: 3em;
    align-items: center;
    padding: 0 15px;
}

.reaction-container {
    color: hsl(0, 100%, 67%);
    border: 1px solid hsla(0, 100%, 67%, 0.1);
    background-color: hsla(0, 100%, 67%, 0.1);
}

.memory-container {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
    border: 1px solid hsla(39, 100%, 56%, 0.1);
}

.verbal-container {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
    border: 1px solid hsla(166, 100%, 37%, 0.1);
}

.visual-container {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
    border: 1px solid hsla(234, 85%, 45%, 0.1);
}

.attributes-score {
    width: 100%;
    color: black;
    text-align: right;
}

strong {
    opacity: 0.4;
}

img {
    margin-right: 15px;
}

.button-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.continue-button {
    background-color: hsl(224, 30%, 27%);
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 2.5rem;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    height: 4rem;
}

.continue-button:hover {
    cursor: pointer;
}

.continue-button:active {
    transition: background-image 0.5s;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (max-width: 768px) {
    body {
        background-color: hsl(252, 100%, 67%);
        flex-direction: column;
        justify-content: space-between;
    }

    .application-container {
        flex-direction: column;
        border-radius: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .result-container {
        max-height: 20rem;
        justify-content: space-between;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

    }
    .result-text {
        height: 100%;
        max-height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin: 0 0;
    }

    .result-score {
        display: flex;
        max-width: 8.5rem;
        max-height: 8.5rem;
        margin: 0 0;
    }

    .score {
        font-size: 58px;
    }

    .great-text {
        height: 100%;
        max-width: 22rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        margin: 0;
    }

    .description {
        font-size: 16px;
        margin: 0.5rem 3rem;
    }

    .summary-container {
        justify-content: space-between;
    }

    .summary-text {
        font-size: 18px;
        margin: 1rem 2rem;
    }

    .attributes-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2rem;
        gap: 8px;
    }

    .reaction-container, .memory-container, .verbal-container, .visual-container {
        flex-grow: 1;
        height: 3rem;
        max-height: 5rem;
    }

    .button-container {
        margin: 1rem 0;
        max-height: 15%;
        padding: 0 2rem;

    }
    .continue-button {
        height: 3.5rem;
        margin: 0 0;
        flex-grow: 3;
    }

}